.container {
  display: flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-end;
}

.item-list-style {
  text-decoration: none;
}

.list-item-content {
  display: flex;
  flex-direction: column;
}

.navigation-item {
  border-bottom: 1px solid silver;
  cursor: pointer;
}

.navigation-item:hover {
  box-shadow: darkblue 1px 1px 1px;
}
