<main class="container">
  <button class="ajouterBtn" mat-flat-button color="accent" routerLink="/add">
    Ajouter assignment
  </button>

  <mat-list>
    @for (assignment of assignments; track assignment.nom) {
      <nav>
        <a routerLink="/assignment/{{ assignment.id }}" class="item-list-style">
          <h3 mat-subheader>
            {{ assignment.dateDeRendu | date }}
          </h3>
          <mat-list-item>
            @if (assignment.rendu) {
              <p appRendu>
                Le devoir {{ assignment.nom }}, qui est à rendre pour le
                {{ assignment.dateDeRendu | date:'dd/MM/YYYY' }} a été rendu
              </p>
            } @else {
              <p appNonRendu>
                Le devoir {{ assignment.nom }}, qui est à rendre pour le
                {{ assignment.dateDeRendu | date:'short' }}, EST ENCORE A RENDRE !!!
              </p>
            }
          </mat-list-item>
        </a>
      </nav>
    }
  </mat-list>

<!--  <app-assignment-details [assignmentTransmis]="assignementSelectionne"></app-assignment-details>-->
</main>
