mat-toolbar {
  background-color:rgba(90, 145, 184, 0.823);
  color: white;
}

mat-sidenav-container {
  height: calc(100vh - 120px);
}

mat-sidenav{
  width: 250px;
  background-color: rgba(211, 214, 212, 0.823);
}

/*.example-spacer {*/
/*  flex: 1 1 auto;*/
/*  color: white;*/
/*}*/

.example-icon {
  color: white;
}

.align-middle {
  vertical-align: middle;
}

.toolbar-style {
  display: flex;
  justify-content: space-between;
}

.toolbar-link {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: white;
}

a {
  text-decoration: none;
  text-underline: none !important;
}

