<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button style="color: white;" (click)="opened=!opened"> <mat-icon>menu</mat-icon>Menu </button>
        <button mat-button style="color: white;"> <mat-icon>home</mat-icon> Home </button>
        <span class="space"></span>
        <button mat-button style="color: white;"> <mat-icon>identifier</mat-icon> S'identifier </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <mat-list>

            <mat-list-item> <a routerLink="/liste-des-devoirs" class="alignement"
                    style="text-decoration: none; "><mat-icon class="alignement">list</mat-icon>
                    Liste des devoirs</a>
            </mat-list-item>

            <mat-list-item> <a routerLink="/ajout-devoir" class="alignement" style="text-decoration: none; "><mat-icon
                        class="alignement">add_circle</mat-icon>
                    Ajout d'un devoir</a>
            </mat-list-item>

            <mat-list-item> <a routerLink="/modification-devoir" class="alignement"
                    style="text-decoration: none; "><mat-icon class="alignement">edit</mat-icon>
                    Modification d'un devoir</a>
            </mat-list-item>

            <mat-list-item> <a routerLink="/suppression-devoir" class="alignement"
                    style="text-decoration: none; "><mat-icon class="alignement">delete</mat-icon>
                    Suppression d'un devoir</a>
            </mat-list-item>

            <mat-list-item> <a routerLink="/generation-donnees-test" class="alignement"
                style="text-decoration: none; "><mat-icon class="alignement">poll</mat-icon>
                Génération de données de test</a>
        </mat-list-item>

        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet>

        </router-outlet>


    </mat-sidenav-content>

</mat-sidenav-container>