mat-toolbar {
  background-color: rgba(16, 82, 126, 0.71);
  color: white;
}

mat-sidenav-container {
  height: calc(100vh - 80px);
}

mat-sidenav{
  width: 250px;
  background-color: #e3c1ac;
  ;
}

/*.example-spacer {*/
/*  flex: 1 1 auto;*/
/*  color: white;*/
/*}*/

.example-icon {
  color: white;
}

.align-middle {
  vertical-align: middle;
}

.toolbar-style {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.toolbar-link {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: white;
}

a {
  text-decoration: none;
  text-underline: none !important;
}

